<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Digital DEV.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.2.77</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
				<key>dateExpires</key>
				<string>1/6/24</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.3.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DKPhotoGallery.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.17</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FMDB.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.7.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreInternal.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FirebaseSessions.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>10.18.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>9.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>7.12.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>MTBBarcodeScanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.0.11</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Promises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0.11.6</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>QrSdkSuiche7b.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.11.6</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.18.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SQLCipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>4.5.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SwiftyGif.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>5.4.4</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>audio_session.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>device_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>file_picker.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_local_notifications.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>flutter_sms.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_gallery_saver.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>in_app_review.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>just_audio.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>local_auth_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>location.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>package_info_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.4.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>pdfx.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>qr_code_scanner.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_files_and_screenshot_widgets.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>share_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>shared_preferences_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sms_autofill.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>sqflite_sqlcipher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>video_player_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>wakelock_plus.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>webview_flutter_wkwebview.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>347E66BDA1DB91BB66341A6D0533971670F898E3</string>
						<key>dateExpires</key>
						<string>1/6/24</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>entitlements</key>
					<dict>
						<key>application-identifier</key>
						<string>9WHJ3DAQ43.com.neodigital.app.ImageNotification</string>
						<key>com.apple.developer.team-identifier</key>
						<string>9WHJ3DAQ43</string>
						<key>get-task-allow</key>
						<false/>
					</dict>
					<key>name</key>
					<string>ImageNotification.appex</string>
					<key>profile</key>
					<dict>
						<key>UUID</key>
						<string>2d90737d-962f-4d0e-9652-1cac9c61a3e2</string>
						<key>dateExpires</key>
						<string>5/7/24</string>
						<key>name</key>
						<string>iOS Team Ad Hoc Provisioning Profile: com.neodigital.app.ImageNotification</string>
					</dict>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9WHJ3DAQ43</string>
						<key>name</key>
						<string>Graca Consultores C.A.</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9WHJ3DAQ43.com.neodigital.app</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.team-identifier</key>
				<string>9WHJ3DAQ43</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d71e6214-2bd2-404b-93e8-5dbe13889619</string>
				<key>dateExpires</key>
				<string>5/7/24</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: com.neodigital.app</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9WHJ3DAQ43</string>
				<key>name</key>
				<string>Graca Consultores C.A.</string>
			</dict>
			<key>versionNumber</key>
			<string>1.2.77</string>
		</dict>
	</array>
</dict>
</plist>
